<form [formGroup]="form">
  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile colspan="2">
      <mat-form-field class="w-full">
        <mat-label>Household No.</mat-label>
        <input matInput formControlName="houseHoldNO" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field class="w-full">
        <mat-label>Village/Residence</mat-label>
        <input matInput formControlName="villageID" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field class="w-full">
        <mat-label>Purok</mat-label>
        <input matInput formControlName="purokID" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field class="w-full">
        <mat-label>Street</mat-label>
        <input matInput formControlName="streetID" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field class="w-full">
        <mat-label>Near At</mat-label>
        <input matInput formControlName="nearID" />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</form>
